@model Sanctum.Models.User
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadImage">
            <input type="file" name="upload" accept="image/*" required>
            <button class="btn btn-primary" type="submit">Upload</button>
        </form>

    <form method="post" asp-action="Profile">
        <div style="align-content: center;">
            <h2>Username: @ViewBag.use</h2>
            <p>Password: @ViewBag.password</p>
            <p>CSULB ID: @ViewBag.intel</p>
            <p>Description: @ViewBag.des</p>
            <p>First: @ViewBag.fir</p>
            <p>Last: @ViewBag.las</p>
        </div>

        <div style="align-content: normal;">
            <label>Username: </label>
                <div>
                    <input type="text" name="Username">
                </div>
            <label>Password: </label>
                <div>
                    <input type="text" name="Password">
                </div>

            <label>CSULBID Student ID: </label>
                <div>
                    <input type="text" name="CSULBID">
                </div>

            <label>Description: </label>
                <div>
                    <input type="text" name="Description">
                </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
        
    </form>

    <a asp-controller="Home" asp-action="Booking" class="btn btn-primary">
        Go Back
    </a>
</div>
